body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 550px;
  height: 550px;
  background-color: #1f2937;
  padding-left: 20px;
}
.title {
  font-family: Karla;
  font-size: 40px;
  font-weight: 800;
  width: 360px;
  margin-bottom: 0px;
  color: white;
}
.highlight {
  display: inline-block;
  color: #4adf86;
}
.description {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  color: #d5d4d8;
}
.generate-button {
  background-color: #10b981;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-family: Inter;
  font-size: 16px;
  margin-bottom: 10px;
}
.password-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid #2f3e53;
}
#password-container-one,
#password-container-two {
  align-items: center;
  text-align: center;
  width: 211px;
  height: 39px;
  background-color: #273549;
  padding-top: 20px;
  margin-top: 35px;
  color: #55f991;
  margin-left: 10px;
  border-radius: 10px;
}
